* {
    font-family: Cantarell, DejaVuSansMono Nerd Font;
    font-size: 14px;
    min-height: 0px;
    border-radius: 0;
    margin: 0px;
    border-width: 0px;
    padding: 0px;
}

window#waybar {
	background: rgba(0, 0, 0, 0.38);
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

#window {
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces {
    margin: 0px;
    padding: 0px;
}

#workspaces button {
    color: #e4e4e4;
    border-top-width : 2px;
    border-style: solid;

}

#workspaces button.focused {
	border-top-color: #f0f0f0;
    color: #ffffff;
    background:rgba(255, 255, 255, 0.2);
}

#workspaces button:hover {
    color: #f0f0f0;
    border-top-color: rgba(255,255,255,0);
    background:rgba(255, 255, 255, 0.25);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}



#mode, #clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    padding-left: 6px;
    padding-right: 6px;
    margin: 0px;
    border: none;
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: rgba(0, 0, 0, 0);
      color: #ffffff;
    }
}

#mode {
    background-color: #FF6188;
}

#battery {
    padding-right: 0px;
}

#battery.critical:not(.charging) {
    background-color: #ff0000;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
